﻿<section class="main-container">

        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-lg-8 space-bottom">
              <div class="contact-form">
                <form class="margin-clear">
                  <div class="form-group has-feedback">
                    <label for="name">Nombre*</label>
                    <input type="text" class="form-control" id="name" placeholder="Nombre" required>
                    <i class="fa fa-user form-control-feedback"></i>
                  </div>
                  <div class="form-group has-feedback">
                    <label for="email">Email*</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelperText" placeholder="Ingresa un email" required>
                    <i class="fa fa-envelope form-control-feedback"></i>
                    <small id="emailHelperText" class="form-text text-muted mt-2"></small>
                  </div>
                  <div class="form-group has-feedback">
                    <label for="subject">Asunto*</label>
                    <input type="text" class="form-control" id="subject" placeholder="Asunto" required>
                    <i class="fa fa-navicon form-control-feedback"></i>
                  </div>
                  <div class="form-group has-feedback">
                    <label for="message">Mensaje*</label>
                    <textarea class="form-control" rows="6" id="message" placeholder="Mensaje" required></textarea>
                    <i class="fa fa-pencil form-control-feedback"></i>
                  </div>
                  <input type="submit" value="Enviar" class="submit-button btn btn-default">
                </form>
              </div>
            </div>
            <!-- main end -->

            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-lg-3 ml-xl-auto">
              <div class="sidebar">
                <div class="side vertical-divider-left">
                  <div id="logo" class="logo d-flex justify-content-center justify-content-md-start">
                                    <a href="/"><img id="logo_img" src="../images/logos/logo_utn.png" alt="UTN - SEU"></a>
                                </div>
                  <div class="separator-2 mt-20"></div>
                  <ul class="list">
                    <li><i class="fa fa-home pr-10"></i><span>Av. de la Universidad 501
        (2400) San Francisco
        Córdoba - República Argentina</span></li>
                    <li><i class="fa fa-phone pr-10"></i><abbr title="Phone"></abbr> (03564) 435402 / 421147</li>
                    <li><i class="fa fa-envelope pr-10"></i><a href="mailto:capacitacionyoficios@sanfrancisco.utn.edu.ar">capacitacionyoficios@sanfrancisco.utn.edu.ar</a></li>
                  </ul>
                  <ul class="social-links circle small margin-clear clearfix animated-effect-1">
                                                <li class="facebook"><a href="https://www.facebook.com/utnsanfrancisco" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li class="youtube"><a href="https://www.youtube.com/channel/UCw5iNPn6LFC3EAjWWc2Nv0A/featured" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                                <li class="twitter"><a href="https://twitter.com/utnsanfco" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li class="instagram"><a href="https://www.instagram.com/saeutnsanfco/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                  <div class="separator-2 mt-20 "></div>

                </div>
              </div>
            </aside>
            <!-- sidebar end -->
          </div>
        </div>
      </section>