﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UTN SEU Cursos</title>
    <meta charset="utf-8">
    <title>UTN SEU</title>
    <meta name="author" content="Nicolas Rocchia">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">

    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/font-awesome.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="~/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="~/plugins/rs-plugin-5/css/settings.css" rel="stylesheet">
    <link href="~/plugins/rs-plugin-5/css/layers.css" rel="stylesheet">
    <link href="~/plugins/rs-plugin-5/css/navigation.css" rel="stylesheet">
    <link href="~/css/animations.css" rel="stylesheet">
    <link href="~/plugins/slick/slick.css" rel="stylesheet">

    <link href="~/css/custom.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/typography-default.css" rel="stylesheet">
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer) -->
    <link href="~/css/light_blue.css" rel="stylesheet">
</head>
<body class="front-page ">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">
        <!-- header-container start -->
        <div id="header" class="header-container">
            <!-- header start -->
            <!-- classes:  -->
            <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
            <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
            <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
            <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
            <!-- "full-width": mandatory class for the full-width menu layout -->
            <!-- "centered": mandatory class for the centered logo layout -->
            <!-- ================ -->
            <!-- TODO: BANNER RESPONSIVO -->
            <header class="header dark fixed fixed-desktop">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 hidden-md-down logo-padding">

                            <div class="header-first">

                                <!-- logo -->
                                <div id="logo" class="logo d-flex justify-content-center justify-content-md-start">
                                    <a href="/"><img id="logo_img" src="../images/logos/logo_utn.png" alt="UTN - SEU"></a>
                                </div>

                                <!-- name-and-slogan -->
                                <div class="site-slogan text-center-xs">
                                    Secretaria Extensión Universitaria
                                </div>

                            </div>

                        </div>
                        <div class="col-md-5 col-lg-5 hidden-md-down">
                            <div class="header-second">
                                <nav class="navbar navbar-expand-lg">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link " href="/home">Inicio</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/cursos">Cursos</a>
                                        </li>
                                       @* <li class="nav-item">
                                            <a class="nav-link smooth-scroll" href="#OurSection">Buscar</a>
                                        </li>*@
                                        <li class="nav-item">
                                            <a class="nav-link" href="/contact">Contacto</a>
                                        </li>
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- redes sociales-->
                        <div class="col-md-4 col-lg-4 hidden-md-down logo-padding">
                            <ul class="social-links text-md-right text-center-xs animated-effect-1 circle small">
                                <li class="facebook"><a href="https://www.facebook.com/utnsanfrancisco" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li class="youtube"><a href="https://www.youtube.com/channel/UCw5iNPn6LFC3EAjWWc2Nv0A/featured" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                <li class="twitter"><a href="https://twitter.com/utnsanfco" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li class="instagram"><a href="https://www.instagram.com/saeutnsanfco/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>

        </div>

        <main role="main">
            @RenderBody()
        </main>

        <!-- .footer start -->

        <footer id="footer" class="clearfix dark">

            <div class="footer ">
                <div class="container-fluid">
                    <div class="footer-inner">
                        <div class="row justify-content-xl-center">
                            <div class="col-xl-10 col-12">
                                <div class="row">
                                    <div class="col-md-6 col-lg-3 col-xl-2">
                                        <div class="footer-content">
                                            <h2 class="title">Contacto</h2>
                                            <ul class="list-icons">
                                                <li><i class="fa fa-map-marker pr-10 text-default"></i> Av. de la Universidad 50 (2400) San Francisco
                                                Córdoba - República Argentina</li>
                                                <li><i class="fa fa-phone pr-10 text-default"></i>  (03564) 435402 / 421147</li>
                                                <li><a href="mailto:capacitacionyoficios@sanfrancisco.utn.edu.ar"><i class="fa fa-envelope-o pr-10"></i>capacitacionyoficios@sanfrancisco.utn.edu.ar</a></li>
                                            </ul>                                            <a class="collapsed map-show btn-lg-link padding-hor-clear" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap"><i class="fa fa-map pr-20"></i>Mostrar mapa</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-xl-2 ml-xl-auto">
                                        <div class="footer-content">
                                            <h2 class="title">Redes sociales</h2>
                                            <p>Siguenos en nuestras redes sociales.</p>
                                            <ul class="social-links circle animated-effect-1">
                                                <li class="facebook"><a href="https://www.facebook.com/utnsanfrancisco" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li class="youtube"><a href="https://www.youtube.com/channel/UCw5iNPn6LFC3EAjWWc2Nv0A/featured" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                                <li class="twitter"><a href="https://twitter.com/utnsanfco" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li class="instagram"><a href="https://www.instagram.com/saeutnsanfco/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clearfix hidden-sm-up"></div>
                                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                                        <div class="footer-content">
                                            <h2 class="title">Envíame un mensaje</h2>
                                            <form class="margin-clear">
                                                <div class="row">
                                                    <div class="col-md-6 form-group has-feedback mb-10">
                                                        <label class="sr-only" for="name2">Name</label>
                                                        <input type="text" class="form-control" id="name2" placeholder="Nombre y Apellido" required>
                                                        <i class="fa fa-user form-control-feedback pr-4"></i>
                                                    </div>
                                                    <div class="col-md-6 form-group has-feedback mb-10">
                                                        <label class="sr-only" for="email2">Email address</label>
                                                        <input type="email" class="form-control" id="email2" placeholder="E-mail" required>
                                                        <i class="fa fa-envelope form-control-feedback pr-4"></i>
                                                    </div>
                                                </div>
                                                <div class="form-group has-feedback mb-10">
                                                    <label class="sr-only" for="message2">Message</label>
                                                    <textarea class="form-control" rows="4" id="message2" placeholder="Mensaje" required></textarea>
                                                    <i class="fa fa-pencil form-control-feedback"></i>
                                                </div>
                                                <input type="submit" value="Enviar" class="margin-clear submit-button radius-50 btn btn-default">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <section id="collapseMap">
                            <div id="map-canvas">

                                <a href="https://www.google.com/maps/place/UTN+Facultad+Regional+de+San+Francisco/%40-31.4209494,-62.116449,15.75z/data=!4m5!3m4!1s0x0:0xa4607cc996083ed4!8m2!3d-31.4207998!4d-62.1104963?authuser=2"
                                target="_blank" >
                                    <img src="../images/mapa_footer.jpg"></a> 
                            </div>
                        </section>
                       

                    </div>
                </div>
            </div>
            <!-- .footer end -->
            <!-- .subfooter start -->

            <div class="subfooter default-bg">
                <div class="container">
                    <div class="subfooter-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center">Copyright © 2022. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>

    </div>
    <!-- page-wrapper end -->
    <!-- JavaScript files placed at the end of the document so the pages load faster -->
    <!-- ================================================== -->
    <!-- Jquery and Bootstap core js files -->
    <script src="~/plugins/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery Revolution Slider  -->
    <script src="~/plugins/rs-plugin-5/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/plugins/rs-plugin-5/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Isotope javascript -->
    <script src="~/plugins/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/plugins/isotope/isotope.pkgd.min.js"></script>
    <!-- Magnific Popup javascript -->
    <script src="~/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Appear javascript -->
    <script src="~/plugins/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/plugins/waypoints/sticky.min.js"></script>
    <!-- Count To javascript -->
    <script src="~/plugins/countTo/jquery.countTo.js"></script>
    <!-- Slick carousel javascript -->
    <script src="~/plugins/slick/slick.min.js"></script>
    <!-- Initialization of Plugins -->
    <script src="~/js/template.js"></script>
    <!-- Custom Scripts -->
    <script src="~/js/custom.js"></script>

</body>
</html>