﻿@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
   <div class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">
          
          <!-- slider revolution start -->
          <!-- ================ -->
          <div class="slider-revolution-5-container">
            <div id="slider-banner-fullwidth-big-height" class="slider-banner-fullwidth-big-height rev_slider" data-version="5.0">
              <ul class="slides">
                <!-- slide 1 start -->
                <!-- ================ -->
                <li class="text-center" data-transition="crossfade" data-slotamount="default" data-masterspeed="default" data-title="Online">
                
                <!-- main image -->
                <img src="images/home/online.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover"  class="rev-slidebg">
                
                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0" 
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;"
                  data-width="5000"
                  data-height="5000">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white"
                  data-x="center"
                  data-y="150"
                  data-start="1000"
                  data-width="650"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <span class="logo-font">Capacitaciones<span class="text-default">ONLINE</span></span>
                </div>  

                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_white tp-resizeme hidden-xs"
                  data-x="center"
                  data-y="250"
                  data-start="1300"
                  data-width="500"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                    <div class="separator light"></div>
                </div>  

                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white hidden-xs"
                  data-x="center"
                  data-y="290"
                  data-start="1300"
                  data-width="750"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:800;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">A tu ritmo.
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption small_white text-center"
                  data-x="center"
                  data-y="410"
                  data-start="1600"
                  data-width="650"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:500;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <a href="@Url.Action("index", "Cursos")" class="btn btn-dark btn-animated margin-clear">Leer mas <i class="fa fa-arrow-right"></i></a> <span class="pl-1 pr-1"></span> <a href="@Url.Action("index", "Conctacto")" class="btn btn-default btn-animated margin-clear">Contactanos <i class="fa fa-envelope"></i></a>                </div>

                </li>
                <!-- slide 1 end -->

                <!-- slide 2 start -->
                <!-- ================ -->
                <li class="text-center" data-transition="crossfade" data-slotamount="default" data-masterspeed="default" data-title="Streaming">
                
                <!-- main image -->
                <img src="images/home/chica-capacitacion-online.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;"
                  data-width="5000"
                  data-height="5000">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white"
                  data-x="center"
                  data-y="150"
                  data-start="1000"
                  data-width="650"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <span class="logo-font">Capacitaciones <span class="text-default">STREAMING</span></span>
                </div>  

                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_white tp-resizeme hidden-xs"
                  data-x="center"
                  data-y="250"
                  data-start="1300"
                  data-width="500"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                    <div class="separator light"></div>
                </div>  
                
                <!-- LAYER NR. 4 -->
                <div class="tp-caption small_white text-center"
                  data-x="center"
                  data-y="410"
                  data-start="1600"
                  data-width="650"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:500;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  <a href="@Url.Action("index", "Cursos")" class="btn btn-dark btn-animated margin-clear">Leer mas <i class="fa fa-arrow-right"></i></a> <span class="pl-1 pr-1"></span> <a href="page-contact.html" class="btn btn-default btn-animated margin-clear">Contactanos <i class="fa fa-envelope"></i></a>
                </div>

                </li>
                <!-- slide 2 end -->

                <!-- slide 3 start -->
                <!-- ================ -->
                <li class="text-center" data-transition="crossfade" data-slotamount="default" data-masterspeed="default" data-title="Presenciales">
                
                <!-- main image -->
                <img src="images/home/aula-universitaria.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover"  class="rev-slidebg">
                
                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;"
                  data-width="5000"
                  data-height="5000">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white"
                  data-x="center"
                  data-y="150"
                  data-start="1000"
                  data-width="650"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <span class="logo-font">Capacitaciones  <span class="text-default">PRESENCIALES</span></span>
                </div>  

                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_white tp-resizeme hidden-xs"
                  data-x="center"
                  data-y="250"
                  data-start="1300"
                  data-width="500"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                    <div class="separator light"></div>
                </div>  

                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white hidden-xs"
                  data-x="center"
                  data-y="290"
                  data-start="1300"
                  data-width="750"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:800;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption small_white text-center"
                  data-x="center"
                  data-y="410"
                  data-start="1600"
                  data-width="650"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:500;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <a href="@Url.Action("index", "Cursos")" class="btn btn-dark btn-animated margin-clear">Leer mas <i class="fa fa-arrow-right"></i></a> <span class="pl-1 pr-1"></span> <a href="page-contact.html" class="btn btn-default btn-animated margin-clear">Contactanos <i class="fa fa-envelope"></i></a>
                </div>

                </li>
                <!-- slide 3 end -->

                <!-- slide 4 start -->
                <!-- ================ -->
                <li class="text-center" data-transition="crossfade" data-slotamount="default" data-masterspeed="default" data-title="Diplomados">
                
                <!-- main image -->
                <img src="images/home/chico-capacitacion-online.png" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover"  class="rev-slidebg">
                
                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;"
                  data-width="5000"
                  data-height="5000">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white"
                  data-x="center"
                  data-y="150"
                  data-start="1000"
                  data-width="650"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <span class="logo-font">Diplomados  <span class="text-default">VIA STREAMING</span></span>
                </div>  

                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_white tp-resizeme hidden-xs"
                  data-x="center"
                  data-y="250"
                  data-start="1300"
                  data-width="500"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                    <div class="separator light"></div>
                </div>  

                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white hidden-xs"
                  data-x="center"
                  data-y="290"
                  data-start="1300"
                  data-width="750"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:800;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption small_white text-center"
                  data-x="center"
                  data-y="410"
                  data-start="1600"
                  data-width="650"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:500;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <a href="#" class="btn btn-dark btn-animated margin-clear">Leer mas <i class="fa fa-arrow-right"></i></a> <span class="pl-1 pr-1"></span> <a href="page-contact.html" class="btn btn-default btn-animated margin-clear">Contactanos <i class="fa fa-envelope"></i></a>
                </div>

                </li>
                <!-- slide 4 end -->

                <!-- slide 5 start -->
                <!-- ================ -->
                <li class="text-center" data-transition="crossfade" data-slotamount="default" data-masterspeed="default" data-title="Postgrado">
                
                <!-- main image -->
                <img src="images/home/posgrado.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover"  class="rev-slidebg">
                
                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;"
                  data-width="5000"
                  data-height="5000">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white"
                  data-x="center"
                  data-y="150"
                  data-start="1000"
                  data-width="650"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <span class="logo-font">  <span class="text-default">POSTGRADOS</span></span>
                </div>  

                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_white tp-resizeme hidden-xs"
                  data-x="center"
                  data-y="250"
                  data-start="1300"
                  data-width="500"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                    <div class="separator light"></div>
                </div>  

                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white hidden-xs"
                  data-x="center"
                  data-y="290"
                  data-start="1300"
                  data-width="750"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:800;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption small_white text-center"
                  data-x="center"
                  data-y="410"
                  data-start="1600"
                  data-width="650"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:500;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <a href="#" class="btn btn-dark btn-animated margin-clear">Leer mas <i class="fa fa-arrow-right"></i></a> <span class="pl-1 pr-1"></span> <a href="page-contact.html" class="btn btn-default btn-animated margin-clear">Contactanos <i class="fa fa-envelope"></i></a>
                </div>

                </li>
                <!-- slide 5 end -->
              </ul>
              <div class="tp-bannertimer"></div>
            </div>
          </div>
          <!-- slider revolution end -->
        </div>
        <!-- slideshow end -->


        <div class="section pv-40 fixed-bg light-translucent-bg background-img-2">
            <div class="main col-12 ">
                <h1>FORMACIONES</h1>
                <div class="filters">
                        <ul class="nav nav-pills">
                          <li class="nav-item"><a class="nav-link active" href="#" data-filter="*">All</a></li>
                          <li class="nav-item"><a class="nav-link" href="#" data-filter=".presencial">Presencial</a></li>
                          <li class="nav-item"><a class="nav-link" href="#" data-filter=".online">Online</a></li>
                          <li class="nav-item"><a class="nav-link" href="#" data-filter=".streaming">Streaming</a></li>
                        </ul>
                </div>
           <!-- isotope filters end -->

                <div class="isotope-container-fitrows row grid-space-10">
                        <!--Curso autos-->
                        <div class="col-md-6 col-lg-4 isotope-item presencial">
                          <div class="image-box style-2 mb-20 bordered dark-bg">
                            <div id="carousel-portfolio" class="carousel slide" data-ride="carousel">
                              <!-- Indicators -->
                              <ol class="carousel-indicators bottom margin-clear">
                                <li data-target="#carousel-portfolio" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-portfolio" data-slide-to="1"></li>
                                <li data-target="#carousel-portfolio" data-slide-to="2"></li>
                              </ol>

                              <!-- Wrapper for slides -->
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                  <div class="overlay-container overlay-visible">
                                    <img src="images/cursos/automotor/Electronica-del-automotor-mini-1.jpg" alt="">
                                    <a href="@Url.Action("automotor", "Cursos")" class="overlay-link"><i class="fa fa-link"></i></a>
                                  </div>
                                </div>
                                <div class="carousel-item">
                                  <div class="overlay-container overlay-visible">
                                    <img src="images/cursos/automotor/Electronica-del-automotor-mini-2.jpg" alt="">
                                    <a href="@Url.Action("automotor", "Cursos")" class="overlay-link"><i class="fa fa-link"></i></a>
                                  </div>
                                </div>
                                <div class="carousel-item">
                                  <div class="overlay-container overlay-visible">
                                    <img src="images/cursos/automotor/Electronica-del-automotor-mini-3.jpg" alt="">
                                    <a href="@Url.Action("automotor", "Cursos")" class="overlay-link"><i class="fa fa-link"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="body p-4">
                              <h3>Electronica del automotor</h3>
                              <div class="separator-2"></div>
                              <p class="small mb-4"><i class="fa fa-calendar-o pr-1"></i> 16 de marzo <i class="pl-10 pr-1 fa fa-tag"></i>Presencial</p>
                              <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
                              <a href="@Url.Action("automotor", "Cursos")"  class="btn btn-gray-transparent btn-animated margin-clear">Mas Info<i class="fa fa-arrow-right pl-10"></i></a>
                            </div>
                          </div>
                        </div>
                         <!--Curso motos-->
                        <div class="col-md-6 col-lg-4 isotope-item presencial">
                          <div class="image-box style-2 mb-20 bordered dark-bg">
                            <div id="carousel-portfolio-moto" class="carousel slide" data-ride="carousel">
                              <!-- Indicators -->
                              <ol class="carousel-indicators bottom margin-clear">
                                <li data-target="#carousel-portfolio-moto" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-portfolio-moto" data-slide-to="1"></li>
                                <li data-target="#carousel-portfolio-moto" data-slide-to="2"></li>
                              </ol>

                              <!-- Wrapper for slides -->
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                  <div class="overlay-container overlay-visible">
                                    <img src="images/cursos/moto/mecanica-electricidad-moto-mini-1.jpg" alt="">
                                    <a href="@Url.Action("motos", "Cursos")" class="overlay-link"><i class="fa fa-link"></i></a>
                                  </div>
                                </div>
                                <div class="carousel-item">
                                  <div class="overlay-container overlay-visible">
                                    <img src="images/cursos/moto/mecanica-electricidad-moto-mini-2.jpg" alt="">
                                    <a href="@Url.Action("motos", "Cursos")" class="overlay-link"><i class="fa fa-link"></i></a>
                                  </div>
                                </div>
                                <div class="carousel-item">
                                  <div class="overlay-container overlay-visible">
                                    <img src="images/cursos/moto/mecanica-electricidad-moto-mini-3.jpg" alt="">
                                    <a href="@Url.Action("motos", "Cursos")" class="overlay-link"><i class="fa fa-link"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="body p-4">
                              <h3>Mecánica y Electricidad de motos</h3>
                              <div class="separator-2"></div>
                              <p class="small mb-4"><i class="fa fa-calendar-o pr-1"></i> 16 de marzo <i class="pl-10 pr-1 fa fa-tag"></i>Presencial</p>
                              <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
                              <a href="@Url.Action("motos", "Cursos")" class="btn btn-gray-transparent btn-animated margin-clear">Mas Info<i class="fa fa-arrow-right pl-10"></i></a>
                            </div>
                          </div>
                        </div>
                        <!--Curso Refrigeración y Aire Acondicionado-->
                        <div class="col-md-6 col-lg-4 isotope-item presencial">
                          <div class="image-box style-2 mb-20 bordered dark-bg">
                            <div id="carousel-portfolio-refri" class="carousel slide" data-ride="carousel">
                              <!-- Indicators -->
                              <ol class="carousel-indicators bottom margin-clear">
                                <li data-target="#carousel-portfolio-refri" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-portfolio-refri" data-slide-to="1"></li>
                                <li data-target="#carousel-portfolio-refri" data-slide-to="2"></li>
                              </ol>

                              <!-- Wrapper for slides -->
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                  <div class="overlay-container overlay-visible">
                                    <img src="images/cursos/refrigeracion/refrigeracion-mini-1.jpg" alt="">
                                    <a href="@Url.Action("refrigeracion", "Cursos")" class="overlay-link"><i class="fa fa-link"></i></a>
                                  </div>
                                </div>
                          
                                <div class="carousel-item">
                                  <div class="overlay-container overlay-visible">
                                    <img src="images/cursos/refrigeracion/refrigeracion-mini-2.jpg" alt="">
                                    <a href="@Url.Action("refrigeracion", "Cursos")" class="overlay-link"><i class="fa fa-link"></i></a>
                                  </div>
                                </div>
                                <div class="carousel-item">
                                  <div class="overlay-container overlay-visible">
                                    <img src="images/cursos/refrigeracion/refrigeracion-mini-3.jpg" alt="">
                                    <a href="@Url.Action("refrigeracion", "Cursos")" class="overlay-link"><i class="fa fa-link"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="body p-4">
                              <h3>Refrigeración y Aire Acondicionado</h3>
                              <div class="separator-2"></div>
                              <p class="small mb-4"><i class="fa fa-calendar-o pr-1"></i> 15 de marzo  <i class="pl-10 pr-1 fa fa-tag"></i>Presencial</p>
                              <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
                              <a href="@Url.Action("refrigeracion", "Cursos")" class="btn btn-gray-transparent btn-animated margin-clear">Mas Info<i class="fa fa-arrow-right pl-10"></i></a>
                            </div>
                          </div>
                        </div>

                         <!--Curso Community Social Media Manager-->
                        <div class="col-md-6 col-lg-4 isotope-item streaming">
                          <div class="image-box style-2 mb-20 bordered dark-bg">
                            <div id="carousel-portfolio-cm" class="carousel slide" data-ride="carousel">
                              <!-- Indicators -->
                              <ol class="carousel-indicators bottom margin-clear">
                                <li data-target="#carousel-portfolio-cm" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-portfolio-cm" data-slide-to="1"></li>
                                <li data-target="#carousel-portfolio-cm" data-slide-to="2"></li>
                              </ol>

                              <!-- Wrapper for slides -->
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                  <div class="overlay-container overlay-visible">
                                    <img src="images/cursos/cm/cm-1.jpg" alt="">
                                    <a href="@Url.Action("communityManager", "Cursos")" class="overlay-link"><i class="fa fa-link"></i></a>
                                  </div>
                                </div>
                                <div class="carousel-item">
                                  <div class="overlay-container overlay-visible">
                                    <img src="images/cursos/cm/cm-2.jpg" alt="">
                                    <a href="@Url.Action("communityManager", "Cursos")" class="overlay-link"><i class="fa fa-link"></i></a>
                                  </div>
                                </div>
                                <div class="carousel-item">
                                  <div class="overlay-container overlay-visible">
                                    <img src="images/cursos/cm/cm-3.jpg" alt="">
                                    <a href="facebook-official" class="overlay-link"><i class="fa fa-link"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="body p-4">
                              <h3>Community Social Media Manager</h3>
                              <div class="separator-2"></div>
                              <p class="small mb-4"><i class="fa fa-calendar-o pr-1"></i>Febrero – Mayo y Agosto <i class="pl-10 pr-1 fa fa-tag"></i>Presencial / Streaming</p>
                              <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
                              <a href="@Url.Action("communityManager", "Cursos")" class="btn btn-gray-transparent btn-animated margin-clear">Mas Info<i class="fa fa-arrow-right pl-10"></i></a>
                            </div>
                          </div>
                        </div>

                        
                </div>

            </div>
        </div>



    </div>
</div>
