﻿
 <section class="main-container padding-bottom-clear section pv-40 fixed-bg light-translucent-bg background-img-2"">



     <div >
        <div class="container">
          <div class="row ">


            <div class="clearfix"></div><div class="main col-lg-8 pv-40">
              <h1 class="title text-center">Electrónica del Automotor</h1>
              <div class="separator with-icon"><i class="fa fa-car bordered"></i></div>
              <p class="font-cursos">La Dirección de Capacitación y Oficios de la U.T.N. Facultad Regional San Francisco llevará a cabo un curso de capacitación técnica en: “Electrónica del Automotor”, destinado a aquellas personas que necesitan una rápida capacitación laboral, mecánicos, electricistas, personal de mostrador de repuesterías del automotor y para toda persona interesada que sepa el funcionamiento básico de un motor a combustión interna.</p>
              <h3 class="title"><strong>Metodología:</strong></h3>
              <ul class="list-icons font-cursos">
                <li><i class="fa fa-check"></i> Una clase presencial semanal teórico práctica de dos horas y treinta minutos (2 y 1/2).</li>
                <li><i class="fa fa-check"></i> Evaluación a la finalización del módulo.</li>
              </ul>

              <h3 class="title"><strong>Objetivos:</strong></h3>
              <ul class="list-icons font-cursos">
                <li><i class="fa fa-check"></i>Actualizar a mecánicos o interesados en general, en sistemas electrónicos de control de la combustión para evitar la contaminación con un motor modernizado tecnológicamente.</li>
              </ul>

              <h3 class="title"><strong>Temario:</strong></h3>
              <ul class="list-icons font-cursos">
                <li><i class="fa fa-check"></i> Repaso de funcionamiento motor 4 tiempos-Relación de compresión. </li>
                <li><i class="fa fa-check"></i> Electricidad y electrónica básica aplicada al automotor.</li>
                <li><i class="fa fa-check"></i> Practica de circuitos eléctricos.</li>
                <li><i class="fa fa-check"></i> Encendidos electrónicos  de 2º y 3º generación controlados por la E.C.U.</li>
                <li><i class="fa fa-check"></i> Control de gestión del motor: Sistema antipistoneo por control electrónico del avance de chispa.</li>
                <li><i class="fa fa-check"></i> Control de la mezcla estequiometrica por zonda lambda.</li>
                <li><i class="fa fa-check"></i> Inyección de nafta indirecta: Grupo de sensores, funciones de cada uno.</li>
                <li><i class="fa fa-check"></i> Grupo de actuadores: Función de cada uno.</li>
                <li><i class="fa fa-check"></i> Acción de la E.C.U. sobre sensores y actuadores.</li>
                <li><i class="fa fa-check"></i> Funcionamiento eléctrico-electrónico de cada sensor y su control de calidad.</li>
                <li><i class="fa fa-check"></i> Funcionamiento eléctrico de cada actuador y su control de calidad.</li>
                <li><i class="fa fa-check"></i> Control sobre todo el sistema en funcionamiento normal sobre un automóvil.</li>
                <li><i class="fa fa-check"></i> Controles sobre sensores y actuadores sobre el motor en funcionamiento.</li>
                <li><i class="fa fa-check"></i> Análisis sobre tablas de fallas.</li>
                <li><i class="fa fa-check"></i> Inyección de nafta a mezcla pobre o directa.</li>
                <li><i class="fa fa-check"></i> Inyección de gasoil por sistema Common Rail.</li>
              </ul>


              @*<a href="#" class="btn btn-animated btn-default btn-lg">External Link <i class="fa fa-external-link"></i></a>*@
              <hr>

            </div>
            <!-- main end -->

            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-lg-4 col-xl-3 ml-xl-auto pv-40">
              <div class="sidebar">
                <div class="block clearfix font-cursos">
                  <h3 class="title">Info</h3>
                  <div class="separator-2"></div>
                  <ul class="list margin-clear">
                    <li><strong>Docente:  </strong> <span class="text-right">Juan Carlos Martínez</span></li>
                    <li><strong>Fecha de inicio:  </strong> <span class="text-right">Martes 15 de marzo de 2022</span></li>
                    <li><strong>Horarios: </strong> <span class="text-right">17:00 a 19:30 Duración: 36 clases - 90 horas reloj. </span></li>
                    <li><strong>Precio: </strong> <span class="text-right">9 cuotas de $ 3900 (descuentos para alumnos UTN y empresas)</span></li>
                    
                  </ul>
                </div>
                
                
                </div>
              </div>
            </aside>
            <!-- sidebar end -->
             </div>
        </div>
      </section>