﻿<section class="main-container padding-bottom-clear section pv-40 fixed-bg light-translucent-bg background-img-CM">
     <div >
        <div class="container">
          <div class="row ">

            <div class="clearfix"></div><div class="main col-lg-8 pv-40">
              <h1 class="title text-center">Community & Social Media Manager</h1>
              <div class="separator with-icon"><i class="fa fa-facebook-official bordered"></i></div>
              <p class="font-cursos">La Dirección de Capacitación y Oficios de la U.T.N. Facultad Regional San Francisco en conjunto con Espacio
                Instrumenta llevará a cabo un curso de eje de formación Tecnológica en: “Community & Social Media
                Maneger”, destinado a aquellas personas que necesitan una rápida capacitación laboral, que responda a
                las necesidades actuales del mercado, asegurándose una formación.
              </p>

              <p class="font-cursos">En estas clases aprenderás a elaborar y analizar desde otra perspectiva las redes que más le convengan a
                cada empresa o emprendimiento para el logro de sus objetivos, y una vez presentes en ellas, gestionar
                sus perfiles, armar su estrategia e interactuar con la comunidad. Todas las clases son teóricas y prácticas
                y al final de dicho curso, presentarás como trabajo final una agencia, con estrategias de contenido y
                presencia en redes.
              </p>


              <h3 class="title"><strong>Metodología:</strong></h3>
              <ul class="list-icons font-cursos">
                <li><i class="fa fa-check"></i>Clases semanales vía presencial/streaming a través de plataforma zoom.</li>
              </ul>

              <h3 class="title"><strong>Objetivos:</strong></h3>
              <ul class="list-icons font-cursos">
                <li><i class="fa fa-check"></i>Incorporar conocimientos básicos sobre el marketing digital y herramientas de publicación de
                contenido para desarrollar una estrategia a su medida.</li>
                <li><i class="fa fa-check"></i> Organizar las ideas de un emprendimiento para alinear su estrategia digital a su core business.</li>
                <li><i class="fa fa-check"></i> Desarrollar durante la formación un proyecto concreto de armado de agencia con su puesta en
                marcha real online, como instancia de aprendizaje y evaluación.</li>
                <li><i class="fa fa-check"></i> Adquirir herramientas básicas de diseño gráfico para la generación de contenidos digitales para
                redes sociales.</li>
              </ul>

              <h3 class="title"><strong>Temario:</strong></h3>
              <ul class="list-icons font-cursos">
                <li><i class="fa fa-asterisk"></i> MODULO 1:
                    <ul> 
                        <li><i ></i> Introducción al Marketing Digital: Nociones básicas. Diferencias entre marketing digital y marketing
                        tradicional. Ecosistema digital.</li>
                        <li><i ></i>Redes Sociales: Qué son y para qué sirven. Principales redes sociales en la actualidad.</li>

                    </ul>
                    </li>
                <li><i class="fa fa-asterisk"></i> MODULO 2:
                    <ul> 
                        <li><i ></i> Facebook e Instagram: Branding. Estrategias en marketing digital. Contenidos digitales.
                        Comportamiento del usuario. Copywriter.</li>
                    </ul>
                    </li>
                <li><i class="fa fa-asterisk"></i> MODULO 3:
                    <ul> 
                        <li><i ></i> Linkedin, Youtube, Tik Tok y Twitch: Estrategias en marketing digital. Contenidos digitales.
                        Comportamiento del usuario.</li>
                    </ul>
                    </li> 
                    <li><i class="fa fa-asterisk"></i> MODULO 4:
                    <ul> 
                        <li><i ></i> Diseño Gráfico: Conceptos y teorías de diseño. Aplicabilidad en la plataforma Canva. Tips de diseño
                        gráfico.</li>
                    </ul>
                    </li>   
                    <li><i class="fa fa-asterisk"></i> MODULO 5:
                    <ul> 
                        <li><i ></i> Ads: Introducción en la plataforma de Facebook e Instagram Ads. Desarrollo práctico de campañas
                        publicitarias en Facebook e Instagram. Lectura y análisis de estadísticas.</li>
                    </ul>
                    </li>   
              </ul>


              @*<a href="#" class="btn btn-animated btn-default btn-lg">External Link <i class="fa fa-external-link"></i></a>*@
              <hr>

            </div>
            <!-- main end -->

            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-lg-4 col-xl-3 ml-xl-auto pv-40">
              <div class="sidebar">
                <div class="block clearfix font-cursos">
                  <h3 class="title">Info</h3>
                  <div class="separator-2"></div>
                  <ul class="list margin-clear">
                    <li><strong>Docente:  </strong> <span class="text-right">Noelia Etchechury</span></li>
                    <li><strong>Fecha de inicio: </strong> <span class="text-right">Febrero – Mayo y Agosto</span></li>
                    <li><strong>Horarios: </strong> <span class="text-right">18:00 a 21:00  </span></li>
                     <li><strong>Duración: </strong> <span class="text-right">4 meses </span></li>
                   
                  </ul>
                </div>
                
                
                </div>
              </div>
            </aside>
            <!-- sidebar end -->
             </div>
        </div>
      </section>