﻿<section class="light-gray-bg pv-30 clearfix light-translucent-bg ">
        <div class="container">
          <div class="row justify-content-lg-center">
            <div class="col-lg-8">
              <h2 class="text-center">Cursos <strong>UTN</strong></h2>
              <div class="separator"></div>
              @*<p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.</p>*@
            </div>
          </div>

          <div class="row">

            <div class="col-lg-4">
              <div class="pv-30 ph-20 hc-item-box bordered hc-shadow-2 text-center hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">

                <h3>STREAMING</h3>
               
                <a href="@Url.Action("streaming", "Cursos")"><i></i>
                   <img src="images/cursos/streaming1140x1410.jpg" /> </a>
              </div>
            </div>    
            

             <div class="col-lg-4">
              <div class="pv-30 ph-20 hc-item-box bordered hc-shadow-2 text-center hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">

                <h3>PRESENCIAL</h3>
         
                <a href="@Url.Action("presencial", "Cursos")"><i></i>
                   <img src="images/cursos/presencial1140x1410.jpg" /> </a>
              </div>
            </div>


            <div class="col-lg-4">
              <div class="pv-30 ph-20 hc-item-box bordered hc-shadow-2 text-center hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">

                <h3>ONLINE</h3>
                
                <a href="@Url.Action("online", "Cursos")"><i></i>
                   <img src="images/cursos/online1140x1410.jpg" /> </a>
              </div>
            </div>




          </div> 






          
        </div>
      </section>