﻿
 <section class="main-container padding-bottom-clear section pv-40 fixed-bg light-translucent-bg background-img-motos">
     <div >
        <div class="container">
          <div class="row ">

            <div class="clearfix"></div><div class="main col-lg-8 pv-40">
              <h1 class="title text-center">Mecánica y Electricidad de motos</h1>
              <div class="separator with-icon"><i class="fa fa-motorcycle bordered"></i></div>
              <p class="font-cursos">La Dirección de Capacitación y Oficios de la U.T.N. Facultad Regional San Francisco llevará a cabo un curso de 
                  capacitación técnica en: “Mecánica y Electricidad de motos”, destinado al público en general interesado en el rubro, con o sin 
                  conocimientos previos.</p>
              <h3 class="title"><strong>Metodología:</strong></h3>
              <ul class="list-icons font-cursos">
                <li><i class="fa fa-check"></i>Una clase presencial semanal teórico práctica de dos horas y treinta minutos (2 y 1/2).</li>
              </ul>

              <h3 class="title"><strong>Objetivos:</strong></h3>
              <ul class="list-icons font-cursos">
                <li><i class="fa fa-check"></i>El alumno debe reconocer las partes, diagnosticar el problema y poder deducir los a seguir para 
                    lograr el buen funcionamiento mecánico y reparar una moto, como así también manejar correctamente las herramientas adecuadas que 
                    posibilitarán el cumplimiento de objetivos.</li>
              </ul>

              <h3 class="title"><strong>Temario:</strong></h3>
              <ul class="list-icons font-cursos">
                <li><i class="fa fa-check"></i> Unidad 1: Motor / Examen</li>
                <li><i class="fa fa-check"></i> Unidad 2: Chasis  / Examen</li>
                <li><i class="fa fa-check"></i> Unidad 3: Electricidad / Examen</li>                
              </ul>


              @*<a href="#" class="btn btn-animated btn-default btn-lg">External Link <i class="fa fa-external-link"></i></a>*@
              <hr>

            </div>
            <!-- main end -->

            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-lg-4 col-xl-3 ml-xl-auto pv-40">
              <div class="sidebar">
                <div class="block clearfix font-cursos">
                  <h3 class="title">Info</h3>
                  <div class="separator-2"></div>
                  <ul class="list margin-clear">
                    <li><strong>Docente:  </strong> <span class="text-right">Maximiliano Pampiglione</span></li>
                    <li><strong>Fecha de inicio(1er grupo):  </strong> <span class="text-right">Lunes 9 de mayo de 2022.</span></li>
                    <li><strong>Fecha de inicio (2do grupo):  </strong> <span class="text-right">Miércoles 11 de mayo de 2022.</span></li>
                    <li><strong>Horarios: </strong> <span class="text-right">20:00 a 22:30  Duración: 24 clases - 60 horas reloj. </span></li>
                    <li><strong>Precio: </strong> <span class="text-right">7 cuotas de $ 3900 (descuentos para alumnos UTN y empresas)</span></li>
                    
                  </ul>
                </div>
                
                
                </div>
              </div>
            </aside>
            <!-- sidebar end -->
             </div>
        </div>
      </section>