﻿<section class="light-gray-bg pv-30 clearfix light-translucent-bg ">
        <div class="container">
          <div class="row justify-content-lg-center">
            <div class="col-lg-8">
              <h2 class="text-center">Cursos <strong>UTN</strong></h2>
              <div class="separator"></div>
              @*<p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.</p>*@
            </div>
          </div>

          <h2 class="mt-4 ">ONLINE </h2>

          <div class="main col-12">
           <div class="filters">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#" data-filter="*">TODOS</a></li>
                  <li class="nav-item"><a class="nav-link" href="#" data-filter=".laboral">LABORAL</a></li>
                  <li class="nav-item"><a class="nav-link" href="#" data-filter=".tecnologico">TECNOLÓGICO</a></li>
                  <li class="nav-item"><a class="nav-link" href="#" data-filter=".hab-blandas">HAB. BLANDAS</a></li>
                  <li class="nav-item"><a class="nav-link" href="#" data-filter=".oficio">OFICIO</a></li>
                </ul>
              </div>
          
              <div class="isotope-container row grid-space-10">

            <div class="col-lg-4 col-md-6 isotope-item oficio">
              <div class="pv-30 ph-20 hc-item-box bordered hc-shadow-2 text-center hc-element-invisible " data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon default-bg circle"><i class="fa fa-car"></i></span>
                <h3>Electronica del automotor</h3>
                <div class="separator clearfix"></div>
                <p>Actualizar a mecánicos o interesados en general, en sistemas electrónicos de control de la combustión para evitar la contaminación con un motor modernizado tecnológicamente.</p>
                <a href="@Url.Action("automotor", "Cursos")">Leer mas <i class="pl-1 fa fa-angle-double-right"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 isotope-item oficio">
              <div class="pv-30 ph-20 hc-item-box bordered hc-shadow-2 text-center hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                <span class="icon default-bg circle"><i class="fa fa-motorcycle"></i></span>
                <h3>Mecánica y Electricidad de motos</h3>
                <div class="separator clearfix"></div>
                <p>El alumno debe reconocer las partes, diagnosticar el problema y poder deducir los a seguir para 
                    lograr el buen funcionamiento mecánico y reparar una moto, como así también manejar correctamente las herramientas adecuadas que 
                    posibilitarán el cumplimiento de objetivos.</p>
                <a href="@Url.Action("motos", "Cursos")">Leer mas <i class="pl-1 fa fa-angle-double-right"></i></a>
              </div>
            </div>

           <div class="col-lg-4 col-md-6 isotope-item oficio">
              <div class="pv-30 ph-20 hc-item-box bordered hc-shadow-2 text-center hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                <span class="icon default-bg circle"><i class="fa fa fa-snowflake-o"></i></span>
                <h3>Refrigeración y Aire Acondicionado</h3>
                <div class="separator clearfix"></div>
                <p>Lograr a través de la instrucción electromecánica, personal capacitado,  en la reparación y mantenimiento de equipos de frio familiares.</p>
                <a href="@Url.Action("refrigeracion", "Cursos")">Leer mas <i class="pl-1 fa fa-angle-double-right"></i></a>
              </div>
            </div>

         
            </div>
          </div>

           


          
        </div>
</section>