﻿<section class="main-container padding-bottom-clear section pv-40 fixed-bg light-translucent-bg background-img-refrigeracion">
     <div >
        <div class="container">
          <div class="row ">


            <div class="clearfix"></div><div class="main col-lg-8 pv-40">
              <h1 class="title text-center">Refrigeración y Aire Acondicionado</h1>
              <div class="separator with-icon"><i class="fa fa-snowflake bordered"></i></div>
              <p class="font-cursos">La Dirección de Capacitación y Oficios de la U.T.N. Facultad Regional San Francisco llevará a cabo un curso de 
                  capacitación técnica en: “Refrigeración y Aire Acondicionado”, destinado a aquellas personas que necesitan una rápida capacitación 
                  laboral, que responda a las necesidades actuales del mercado, asegurándose una formación.</p>
              <h3 class="title"><strong>Metodología:</strong></h3>
              <ul class="list-icons font-cursos">
                <li><i class="fa fa-check"></i> Una clase presencial semanal teórico práctica de dos horas y treinta minutos (2 y 1/2).</li>
                <li><i class="fa fa-check"></i> Evaluación a la finalización del módulo.</li>
              </ul>

              <h3 class="title"><strong>Objetivos:</strong></h3>
              <ul class="list-icons font-cursos">
                <li><i class="fa fa-check"></i>Lograr a través de la instrucción electromecánica, personal capacitado, 
                    en la reparación y mantenimiento de equipos de frio familiares.</li>
              </ul>

              <h3 class="title"><strong>Temario:</strong></h3>
              <ul class="list-icons font-cursos">
                <li><i class="fa fa-check"></i>Teoría de la refrigeración.</li>
                <li><i class="fa fa-check"></i>Calor-Conducción-Radiación-Convección.</li>
                <li><i class="fa fa-check"></i>Frio-Aislamiento-Temperatura.</li>
                <li><i class="fa fa-check"></i>Escala centígrada y Fahrenheit.</li>
                <li><i class="fa fa-check"></i>Presión atmosférica y presión manométrica.</li>
                <li><i class="fa fa-check"></i>Estado de la materia- Vaporización- Congelación.</li>
                <li><i class="fa fa-check"></i>Distintos refrigerantes y lubricantes.</li>
                <li><i class="fa fa-check"></i>Circuito frigorífico según ciclos de Carnot- Componentes mecánicos.</li>
                <li><i class="fa fa-check"></i>Principio básico de heladeras familiares con congelador y freezer.</li>
                <li><i class="fa fa-check"></i>Electricidad aplicada a la refrigeración.</li>
                <li><i class="fa fa-check"></i>Ley de Ohm-Ley de Watt-Cálculos eléctricos.</li>
                <li><i class="fa fa-check"></i>Circuitos eléctricos de la era común y no frost.</li>
                <li><i class="fa fa-check"></i>Compresor eléctrico de bajo torque de arranque.</li>
                <li><i class="fa fa-check"></i>Aire acondicionando tipo Split.</li>
                <li><i class="fa fa-check"></i>Funcionamiento y reparación.</li>
                <li><i class="fa fa-check"></i>Electricidad aplicada al circuito propio del aire Split de alta potencia.</li>
                <li><i class="fa fa-check"></i>Instructivo de instalación de aire Split de la cámara argentina de aire acondicionado, 
                    calefacción y ventilación C.A.C.A.A.V.  y entrega de matrícula de Instalador de valor nacional (costo a cargo del alumno)</li>
              </ul>


              @*<a href="#" class="btn btn-animated btn-default btn-lg">External Link <i class="fa fa-external-link"></i></a>*@
              <hr>

            </div>
            <!-- main end -->

            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-lg-4 col-xl-3 ml-xl-auto pv-40">
              <div class="sidebar">
                <div class="block clearfix font-cursos">
                  <h3 class="title">Info</h3>
                  <div class="separator-2"></div>
                  <ul class="list margin-clear">
                    <li><strong>Docente:  </strong> <span class="text-right">Juan Carlos Martínez</span></li>
                    <li><strong>Fecha de inicio:  </strong> <span class="text-right">16 de marzo de 2022</span></li>
                    <li><strong>Horarios: </strong> <span class="text-right">Turno tarde 17:00 a 19:30 / Turno noche 20 a 22:30   </span></li>
                    <li><strong>Duración: </strong> <span class="text-right">36 clases - 90 horas reloj. </span></li>
                    <li><strong>Precio: </strong> <span class="text-right">9 cuotas de $ 3900 (descuentos para alumnos UTN y empresas)</span></li>
                    
                  </ul>
                </div>
                
                
                </div>
              </div>
            </aside>
            <!-- sidebar end -->
             </div>
        </div>
      </section>