/*
 * Version: 2.1.2
 * File Description: Place here your custom CSS styles
 */

.parallax {
    /* The image used */
    /*background-image: url("img_parallax.jpg");*/
    background-image: url(/images/DSC_0327.jpg);
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-padding{
    padding-top: 1rem;
}

.font-cursos {
    font-size: 16px !important;
    font-weight: 400 !important;
}

